 <div style="background-color: lightgreen; ">
    <p style="font-size: 24px; font-weight: bold; color: darkgreen;text-align: center;">Assignment: Text Classification using Hugging Face
</p>
</div>


#### <font color='darkgreen'>Objective: The goal of this assignment is to build a text classification model using the Hugging Face library to classify a dataset of text into one of multiple categories. The candidate will use a pre-trained model such as BERT or GPT-2 as a starting point and fine-tune it on the classification task.</font>

 <div style="background-color: cyan; ">
    <p style="font-size: 24px; font-weight: bold; color: blue;text-align: center;">PART 1: WEBSCRAPPING</p>
</div>

## <font color='deeppink'> Dataset of text that has multiple categories (e.g. news articles labeled as sports, politics, entertainment, etc.). The dataset should have at least 1000 samples for each category.
</font>

#### <font color='blue'>This Dataset is scrap from Times of india website, and having 3 categories i.e. Business, sports, politics. Each category is having at least 1000 samples </font>

## <font color='red'> Importing libraries</font>

In [172]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.by import By

from bs4 import BeautifulSoup as bfs
import requests

### <font color='red'>Connecting to the webdriver</font>

In [173]:
#first connect to the driver
driver= webdriver.Chrome(r'C:\Users\Deepshika\Downloads\deep_chromedriver\chromedriver.exe')

C:\Users\Deepshika\AppData\Local\Temp\ipykernel_10392\681551397.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver= webdriver.Chrome(r'C:\Users\Deepshika\Downloads\deep_chromedriver\chromedriver.exe')

Business_url=[]

wait = WebDriverWait(driver, 10)

for page in range(0,30):
    next_button = wait.until(EC.visibility_of_element_located((By.XPATH,'//*[@id="app"]/div/div[5]/div/div[25]/button')))
    actions = ActionChains(driver)
    actions.move_to_element(next_button).click_and_hold().release().perform()
    url=driver.find_elements(By.XPATH,'//*[@id="app"]/div/div[5]/div/div[25]//a')
    for i in url:
        Business_url.append(i.get_attribute('href'))
    
    
len(Business_url)

 <div style="background-color: pink; ">
    <p style="font-size: 24px; font-weight: bold; color: red;">BUSINESS</p>
</div>

### <font color='red'>Extracting data of coperate business</font>

In [73]:
#corporate business
driver.get('https://timesofindia.indiatimes.com/business/corporate')

In [74]:
Business_coperate_url=[]

wait = WebDriverWait(driver, 10)

for page in range(0,3):
    next_button=driver.find_element(By.XPATH,'//*[@id="c_articlelist_stories_1"]/ul[2]//a') #to get the next page
    url=driver.find_elements(By.XPATH,'//*[@id="c_articlelist_stories_1"]/ul[1]//span/a')
    for i in url:
        Business_coperate_url.append(i.get_attribute('href'))
    
    
    
len(Business_coperate_url)

306

In [193]:
data_coperate=pd.DataFrame({'URL': Business_coperate_url})
data_coperate['Type']='Business'
data_coperate['SubType']='Coperate-Business'

### <font color='red'>Extracting data of economy business</font>

In [64]:
driver.get('https://timesofindia.indiatimes.com/business/economy')

In [66]:
Business_eco_url=[]

for page in range(0,5):
    next_button=driver.find_element(By.XPATH,'//*[@id="c_articlelist_stories_1"]/ul[2]//a') #to get the next page
    url=driver.find_elements(By.XPATH,'//*[@id="c_articlelist_stories_1"]/ul[1]//span/a')
    for i in url:
        Business_eco_url.append(i.get_attribute('href'))  
len(Business_eco_url)

510

In [72]:
data_eco=pd.DataFrame({'URL': Business_eco_url})
data_eco['Type']='Business'
data_eco['SubType']='Economy-Business'
data_eco

,URL,Type,SubType
0,https://timesofindia.indiatimes.com/business/i...,Business,Economy-Business
1,https://timesofindia.indiatimes.com/business/i...,Business,Economy-Business
2,https://timesofindia.indiatimes.com/business/i...,Business,Economy-Business
3,https://timesofindia.indiatimes.com/business/i...,Business,Economy-Business
4,https://timesofindia.indiatimes.com/business/i...,Business,Economy-Business
...,...,...,...
505,https://timesofindia.indiatimes.com/business/i...,Business,Economy-Business
506,https://timesofindia.indiatimes.com/business/i...,Business,Economy-Business
507,https://timesofindia.indiatimes.com/business/i...,Business,Economy-Business
508,https://timesofindia.indiatimes.com/business/i...,Business,Economy-Business
509,https://timesofindia.indiatimes.com/business/i...,Business,Economy-Business

### <font color='red'>Extracting data of real estate business</font>

In [76]:
driver.get('https://timesofindia.indiatimes.com/business/real-estate')

Business_real_url=[]

for page in range(0,2):
    next_button=driver.find_element(By.XPATH,'//*[@id="c_articlelist_stories_1"]/ul[2]//a') #to get the next page
    url=driver.find_elements(By.XPATH,'//*[@id="c_articlelist_stories_1"]/ul[1]//span/a')
    for i in url:
        Business_real_url.append(i.get_attribute('href'))  
    
len(Business_real_url)

204

### <font color='red'>making dataframe of business</font>

In [79]:
data_real=pd.DataFrame({'URL': Business_real_url})
data_real['Type']='Business'
data_real['SubType']='RealEstate -Business'
data_real

,URL,Type,SubType
0,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
1,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
2,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
3,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
4,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
...,...,...,...
199,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
200,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
201,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
202,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
203,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business

### <font color='red'>combining business data in dataframe</font>

In [83]:

data_business=pd.concat([data_real,data_eco,data_coperate], ignore_index=True)
data_business

,URL,Type,SubType
0,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
1,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
2,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
3,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
4,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business
...,...,...,...
1015,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business
1016,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business
1017,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business
1018,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business
1019,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business

### <font color='red'>Extracting the articles of each url and storing it in dataframe</font>

In [93]:
article=[]

for i in data_business['URL']:
    page= requests.get(i)
    soup= bfs(page.content)
    a = soup.find('div', {'class': '_s30J clearfix'}).text.strip()
    article.append(a)

In [120]:
data_business['article']=article

In [121]:
data_business

,URL,Type,SubType,article
0,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business,NEW DELHI: Institutional investment in real es...
1,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business,NEW DELHI: The RBI decision to keep repo rate ...
2,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business,"Radha Dhir, CEO & Country Head, India, JLLThe ..."
3,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business,Happiness is most Luxurious possession - Heard...
4,https://timesofindia.indiatimes.com/business/i...,Business,RealEstate -Business,"NEW DELHI: In a relief to REITs and InVITs, th..."
...,...,...,...,...
1015,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business,WASHINGTON: Thousands of Indian IT professiona...
1016,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business,NEW DELHI: Capital markets regulator Sebi has ...
1017,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business,NEW DELHI: Infosys Ltd. is preparing to accele...
1018,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business,"MUMBAI: Adani Enterprises, which is launching ..."
1019,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business,NEW DELHI: The Supreme Court on Thursday rejec...

 <div style="background-color: pink; ">
    <p style="font-size: 24px; font-weight: bold; color: red;">SPORTS</p>
</div>

### <font color='red'>Extracting data of cricket sport</font>

In [113]:
driver.get('https://timesofindia.indiatimes.com/sports/cricket/ipl') 
sport_cri=[]

for page in range(0,6):
    next_button=driver.find_element(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]/ul[2]//a') #to get the next page
    url=driver.find_elements(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]/ul[1]//span/a')
    for i in url:
        sport_cri.append(i.get_attribute('href'))  
    
len(sport_cri)

390

In [114]:
sport_cri=pd.DataFrame({'URL': sport_cri})
sport_cri['Type']='Sports'
sport_cri['SubType']='Cricket-Sports'

### <font color='red'>Extracting data of football sport</font>

In [99]:
driver.get('https://timesofindia.indiatimes.com/sports/football') 
sport_foot=[]

url=driver.find_elements(By.XPATH,'//*[@id="c_sport_wdt_1"]//span/a')
for i in url:
    sport_foot.append(i.get_attribute('href'))  
len(sport_foot)

56

In [104]:
sport_foot=pd.DataFrame({'URL': sport_foot})
sport_foot['Type']='Sports'
sport_foot['SubType']='Football-Sports'

### <font color='red'>Extracting data of tennis sport</font>

In [106]:
driver.get('https://timesofindia.indiatimes.com/sports/cricket/ipl') 
sport_tennis=[]

for page in range(0,5):
    next_button=driver.find_element(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]/ul[2]//a')
    url=driver.find_elements(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]//span/a')
    for i in url:
        sport_tennis.append(i.get_attribute('href'))
    
    
    
len(sport_tennis)

325

In [108]:
sport_tennis=pd.DataFrame({'URL': sport_tennis})
sport_tennis['Type']='Sports'
sport_tennis['SubType']='Tennis-Sports'

### <font color='red'>Extracting data of hockey sport</font>

In [110]:
    
driver.get('https://timesofindia.indiatimes.com/sports/hockey/hockey-world-cup') 
sport_hockey=[]

for page in range(0,2):
    next_button=driver.find_element(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]/ul[2]//a') #to get the next page
    url=driver.find_elements(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]/ul[1]//span/a')
    for i in url:
        sport_hockey.append(i.get_attribute('href'))

len(sport_hockey)

84

In [111]:
sport_hockey=pd.DataFrame({'URL': sport_hockey})
sport_hockey['Type']='Sports'
sport_hockey['SubType']='Hockey-Sports'

### <font color='red'>Extracting data of wwe sport</font>

In [116]:
    
driver.get('https://timesofindia.indiatimes.com/sports/wwe') 
sport_wwe=[]

for page in range(0,6):
    next_button=driver.find_element(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]/ul[2]//a') 
    url=driver.find_elements(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]//span/a')
    for i in url:
        sport_wwe.append(i.get_attribute('href'))
    
len(sport_wwe)

252

In [118]:
sport_wwe=pd.DataFrame({'URL': sport_wwe})
sport_wwe['Type']='Sports'
sport_wwe['SubType']='wwe-Sports'

### <font color='red'>Extracting data of golf sport</font>

In [138]:
driver.get('https://timesofindia.indiatimes.com/sports/golf') 
sport_golf=[]

for page in range(0,2):
    next_button=driver.find_element(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]/ul[2]//a') #to get the next page
    url=driver.find_elements(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]//span/a')
    for i in url:
        sport_golf.append(i.get_attribute('href'))  
len(sport_golf)

84

In [144]:
sport_golf=pd.DataFrame({'URL': sport_golf})
sport_golf['Type']='Sports'
sport_golf['SubType']='golf-Sports'

### <font color='red'>Extracting data of wresting sport</font>

In [141]:
driver.get('https://timesofindia.indiatimes.com/sports/more-sports/wrestling') 
sport_wrest=[]

for page in range(0,2):
    next_button=driver.find_element(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]/ul[2]//a') #to get the next page
    url=driver.find_elements(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]//span/a')
    for i in url:
        sport_wrest.append(i.get_attribute('href'))
    
len(sport_wrest)

84

In [142]:
sport_wrest=pd.DataFrame({'URL': sport_wrest})
sport_wrest['Type']='Sports'
sport_wrest['SubType']='wresting-Sports'

### <font color='red'>Extracting data of badminton sport</font>

In [201]:
driver.get('https://timesofindia.indiatimes.com/sports/more-sports/wrestling') 
sport_bad=[]

for page in range(0,2):
    next_button=driver.find_element(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]/ul[2]//a') #to get the next page
    url=driver.find_elements(By.XPATH,'//*[@id="c_sport_wdt_1"]/div/div[1]//span/a')
    for i in url:
        sport_bad.append(i.get_attribute('href'))
    
len(sport_bad)

84

In [202]:
sport_bad=pd.DataFrame({'URL': sport_bad})
sport_bad['Type']='Sports'
sport_bad['SubType']='badminton-Sports'

### <font color='red'>combining sport data in dataframe</font>

In [203]:
data_sport=pd.concat([sport_wwe,sport_hockey,sport_tennis,sport_foot,sport_cri,sport_golf,sport_wrest,sport_bad], ignore_index=True)
data_sport

,URL,Type,SubType
0,https://timesofindia.indiatimes.com/sports/wwe...,Sports,wwe-Sports
1,https://timesofindia.indiatimes.com/sports/wwe...,Sports,wwe-Sports
2,https://timesofindia.indiatimes.com/sports/wwe...,Sports,wwe-Sports
3,https://timesofindia.indiatimes.com/sports/wwe...,Sports,wwe-Sports
4,https://timesofindia.indiatimes.com/sports/wwe...,Sports,wwe-Sports
...,...,...,...
1354,https://timesofindia.indiatimes.com/sports/mor...,Sports,badminton-Sports
1355,https://timesofindia.indiatimes.com/sports/mor...,Sports,badminton-Sports
1356,https://timesofindia.indiatimes.com/sports/mor...,Sports,badminton-Sports
1357,https://timesofindia.indiatimes.com/sports/mor...,Sports,badminton-Sports
1358,https://timesofindia.indiatimes.com/sports/mor...,Sports,badminton-Sports

### <font color='red'>Extracting the articles of each url and storing it in dataframe</font>

In [ ]:
article = []

for i in data_sport['URL']:
    page = requests.get(i)
    soup = bfs(page.content) 
    try:
        a = soup.find('div', {'class': '_s30J clearfix'}).text
    except AttributeError:
        a = 'NOT FOUND' 
    article.append(a)

In [149]:
data_sport['article']=article

In [150]:
data_sport[data_sport['article'] == 'NOT FOUND']

,URL,Type,SubType,article
259,https://timesofindia.indiatimes.com/sports/hoc...,Sports,Hockey-Sports,NOT FOUND
288,https://timesofindia.indiatimes.com/sports/hoc...,Sports,Hockey-Sports,NOT FOUND
290,https://timesofindia.indiatimes.com/sports/hoc...,Sports,Hockey-Sports,NOT FOUND
301,https://timesofindia.indiatimes.com/sports/hoc...,Sports,Hockey-Sports,NOT FOUND
330,https://timesofindia.indiatimes.com/sports/hoc...,Sports,Hockey-Sports,NOT FOUND
...,...,...,...,...
1067,https://timesofindia.indiatimes.com/sports/cri...,Sports,Cricket-Sports,NOT FOUND
1068,https://timesofindia.indiatimes.com/sports/cri...,Sports,Cricket-Sports,NOT FOUND
1069,https://timesofindia.indiatimes.com/sports/cri...,Sports,Cricket-Sports,NOT FOUND
1070,https://timesofindia.indiatimes.com/sports/cri...,Sports,Cricket-Sports,NOT FOUND
1071,https://timesofindia.indiatimes.com/sports/cri...,Sports,Cricket-Sports,NOT FOUND

In [151]:
data_sport.drop(data_sport[data_sport['article'] == 'NOT FOUND'].index, inplace=True)

In [152]:
data_sport

,URL,Type,SubType,article
0,https://timesofindia.indiatimes.com/sports/wwe...,Sports,wwe-Sports,LOS ANGELES: World Wrestling Entertainment apo...
1,https://timesofindia.indiatimes.com/sports/wwe...,Sports,wwe-Sports,"NEW DELHI: In a major announcement on Monday, ..."
2,https://timesofindia.indiatimes.com/sports/wwe...,Sports,wwe-Sports,"WASHINGTON: WWE, an organisation that is alrea..."
3,https://timesofindia.indiatimes.com/sports/wwe...,Sports,wwe-Sports,NEW DELHI: In the aftermath of Stephanie McMah...
4,https://timesofindia.indiatimes.com/sports/wwe...,Sports,wwe-Sports,NEW DELHI: It's confirmed. Former CEO Vince Mc...
...,...,...,...,...
1354,https://timesofindia.indiatimes.com/sports/mor...,Sports,wresting-Sports,NEW DELHI: The Wrestling Federation of India (...
1355,https://timesofindia.indiatimes.com/sports/mor...,Sports,wresting-Sports,NEW DELHI: Olympic medallist Bajrang Punia on ...
1356,https://timesofindia.indiatimes.com/sports/mor...,Sports,wresting-Sports,NEW DELHI: The protesting wrestlers decided to...
1357,https://timesofindia.indiatimes.com/sports/mor...,Sports,wresting-Sports,NEW DELHI: Indian Olympic Association (IOA) on...
1358,https://timesofindia.indiatimes.com/sports/mor...,Sports,wresting-Sports,NEW DELHI: Levelling fresh allegations against...

 <div style="background-color: pink; ">
    <p style="font-size: 24px; font-weight: bold; color: red;">POLITICS</p>
</div>

### <font color='red'>Extracting data of politics</font>

In [168]:
driver.get('https://timesofindia.indiatimes.com/elections') 
politics=[]

url=driver.find_elements(By.XPATH,'//*[@id="content"]/div//ul//span/a')
for i in url:
    politics.append(i.get_attribute('href'))
    
len(politics)

105

In [176]:
politics=pd.DataFrame({'URL': politics})
politics['Type']='politics'
politics['SubType']='mixed'

In [177]:
driver.get('https://timesofindia.indiatimes.com/elections/assembly-elections/uttar-pradesh') 
pol_up=[]

for page in range(0,8):
    next_button=driver.find_element(By.XPATH,'//*[@id="content"]/div/div[1]/div[3]/ul[2]//a')
    url=driver.find_elements(By.XPATH,'//*[@id="content"]/div/div[1]/div[3]//span/a')
    for i in url:
        pol_up.append(i.get_attribute('href'))
    
len(pol_up)

400

In [178]:
pol_up=pd.DataFrame({'URL': pol_up})
pol_up['Type']='politics'
pol_up['SubType']='mixed'

In [179]:
driver.get('https://timesofindia.indiatimes.com/elections/assembly-elections/gujarat') 
pol_guj=[]

url=driver.find_elements(By.XPATH,'//*[@id="content"]/div/div[3]/div[5]//span/a')
for i in url:
    pol_guj.append(i.get_attribute('href'))
    
len(pol_guj)

16

In [180]:
pol_guj=pd.DataFrame({'URL': pol_guj})
pol_guj['Type']='politics'
pol_guj['SubType']='mixed'

In [181]:
driver.get('https://timesofindia.indiatimes.com/elections/assembly-elections/goa') 
pol_goa=[]

for page in range(0,8):
    next_button=driver.find_element(By.XPATH,'//*[@id="content"]/div/div[1]/div[3]/ul[2]//a')
    url=driver.find_elements(By.XPATH,'//*[@id="content"]/div/div[1]/div[3]//span/a')
    for i in url:
        pol_goa.append(i.get_attribute('href'))
    
len(pol_goa)

400

In [182]:
pol_goa=pd.DataFrame({'URL': pol_goa})
pol_goa['Type']='politics'
pol_goa['SubType']='mixed'

In [183]:
driver.get('https://timesofindia.indiatimes.com/elections/assembly-elections/punjab') 
pol_pjb=[]

for page in range(0,8):
    next_button=driver.find_element(By.XPATH,'//*[@id="content"]/div/div[1]/div[3]/ul[2]//a')
    url=driver.find_elements(By.XPATH,'//*[@id="content"]/div/div[1]/div[3]//span/a')
    for i in url:
        pol_pjb.append(i.get_attribute('href'))
    
len(pol_pjb)

400

In [184]:
pol_pjb=pd.DataFrame({'URL': pol_pjb})
pol_pjb['Type']='politics'
pol_pjb['SubType']='mixed'

### <font color='red'>combining political data in dataframe</font>

In [188]:
data_pol=pd.concat([pol_pjb,pol_goa,pol_guj,pol_up,politics], ignore_index=True)
data_pol

                                                    URL      Type SubType
0     https://timesofindia.indiatimes.com/elections/...  politics   mixed
1     https://timesofindia.indiatimes.com/elections/...  politics   mixed
2     https://timesofindia.indiatimes.com/elections/...  politics   mixed
3     https://timesofindia.indiatimes.com/elections/...  politics   mixed
4     https://timesofindia.indiatimes.com/elections/...  politics   mixed
...                                                 ...       ...     ...
1316  https://timesofindia.indiatimes.com/elections/...  politics   mixed
1317  https://timesofindia.indiatimes.com/elections/...  politics   mixed
1318  https://timesofindia.indiatimes.com/elections/...  politics   mixed
1319  https://timesofindia.indiatimes.com/elections/...  politics   mixed
1320  https://timesofindia.indiatimes.com/elections/...  politics   mixed

[1321 rows x 3 columns]

### <font color='red'>Extracting the articles of each url and storing it in dataframe</font>

In [189]:
article = []

for i in data_pol['URL']:
    page = requests.get(i)
    soup = bfs(page.content) 
    try:
        a = soup.find('div', {'class': '_s30J clearfix'}).text
    except AttributeError:
        a = 'NOT FOUND'
    article.append(a)

In [192]:
data_pol['article']=article
data_pol.drop(data_pol[data_pol['article'] == 'NOT FOUND'].index, inplace=True)
data_pol

,URL,Type,SubType,article
0,https://timesofindia.indiatimes.com/elections/...,politics,mixed,CHANDIGARH: The Punjab government on Saturday ...
1,https://timesofindia.indiatimes.com/elections/...,politics,mixed,CHANDIGARH: Eight first-time MLAs were preferr...
2,https://timesofindia.indiatimes.com/elections/...,politics,mixed,CHANDIGARH: In the first meeting held soon aft...
3,https://timesofindia.indiatimes.com/elections/...,politics,mixed,"CHANDIGARH: Punjab's new cabinet, led by chief..."
4,https://timesofindia.indiatimes.com/elections/...,politics,mixed,"CHANDIGARH: Ten ministers, including a woman, ..."
...,...,...,...,...
1316,https://timesofindia.indiatimes.com/elections/...,politics,mixed,NEW DELHI: Dr Manik Saha (69) took oath of off...
1317,https://timesofindia.indiatimes.com/elections/...,politics,mixed,"AGARTALA/GUWAHATI: Manik Saha, whose 10 months..."
1318,https://timesofindia.indiatimes.com/elections/...,politics,mixed,AGARTALA: BJP leader Manik Saha on Monday even...
1319,https://timesofindia.indiatimes.com/elections/...,politics,mixed,NEW DELHI: Manik Saha has been named the chief...
1320,https://timesofindia.indiatimes.com/elections/...,politics,mixed,AGARTALA: BJP's chief troubleshooter in the no...

### <font color='red'>Merging all data in dataframe</font>

In [208]:
data=pd.concat([data_pol,data_sport,data_business], ignore_index=True)
data

,URL,Type,SubType,article
0,https://timesofindia.indiatimes.com/elections/...,politics,mixed,CHANDIGARH: The Punjab government on Saturday ...
1,https://timesofindia.indiatimes.com/elections/...,politics,mixed,CHANDIGARH: Eight first-time MLAs were preferr...
2,https://timesofindia.indiatimes.com/elections/...,politics,mixed,CHANDIGARH: In the first meeting held soon aft...
3,https://timesofindia.indiatimes.com/elections/...,politics,mixed,"CHANDIGARH: Punjab's new cabinet, led by chief..."
4,https://timesofindia.indiatimes.com/elections/...,politics,mixed,"CHANDIGARH: Ten ministers, including a woman, ..."
...,...,...,...,...
3677,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business,WASHINGTON: Thousands of Indian IT professiona...
3678,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business,NEW DELHI: Capital markets regulator Sebi has ...
3679,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business,NEW DELHI: Infosys Ltd. is preparing to accele...
3680,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business,"MUMBAI: Adani Enterprises, which is launching ..."
3681,https://timesofindia.indiatimes.com/business/i...,Business,Coperate-Business,NEW DELHI: The Supreme Court on Thursday rejec...

In [210]:
data.to_csv('full_TOI.csv', index=False)

In [212]:
x=data.drop(['URL','SubType'], axis=1)
x

          Type                                            article
0     politics  CHANDIGARH: The Punjab government on Saturday ...
1     politics  CHANDIGARH: Eight first-time MLAs were preferr...
2     politics  CHANDIGARH: In the first meeting held soon aft...
3     politics  CHANDIGARH: Punjab's new cabinet, led by chief...
4     politics  CHANDIGARH: Ten ministers, including a woman, ...
...        ...                                                ...
3677  Business  WASHINGTON: Thousands of Indian IT professiona...
3678  Business  NEW DELHI: Capital markets regulator Sebi has ...
3679  Business  NEW DELHI: Infosys Ltd. is preparing to accele...
3680  Business  MUMBAI: Adani Enterprises, which is launching ...
3681  Business  NEW DELHI: The Supreme Court on Thursday rejec...

[3682 rows x 2 columns]

In [213]:
x.to_csv('TOI_for_NLP.csv', index=False)

 <div style="background-color: cyan; ">
    <p style="font-size: 24px; font-weight: bold; color: blue;text-align: center;">PART 2: TEXT CLASSIFICATION</p>
</div>

### <font color='deeppink'>Preprocess the text data by cleaning it, removing stopwords, punctuations and other irrelevant characters.</font>

### <font color='deeppink'>Use the Hugging Face library to fine-tune a pre-trained model such as BERT or GPT-2 on the classification task. The candidate should use the transformers library in python.</font>

### <font color='deeppink'>Train the model on the dataset and evaluate the performance using metrics such as accuracy, precision, recall and F1-score</font>

### <font color='red'>Importing lib</font>

In [235]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string

In [245]:
!pip install transformers

Collecting transformers
  Downloading transformers-4.28.1-py3-none-any.whl (7.0 MB)
     ---------------------------------------- 7.0/7.0 MB 3.3 MB/s eta 0:00:00
Collecting filelock
  Downloading filelock-3.11.0-py3-none-any.whl (10.0 kB)
Requirement already satisfied: requests in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from transformers) (2.28.1)
Requirement already satisfied: numpy>=1.17 in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from transformers) (1.22.3)
Requirement already satisfied: regex!=2019.12.17 in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from transformers) (2022.10.31)
Collecting huggingface-hub<1.0,>=0.11.0
  Downloading huggingface_hub-0.13.4-py3-none-any.whl (200 kB)
     -------------------------------------- 200.1/200.1 kB 1.2 MB/s eta 0:00:00
Collecting tokenizers!=0.11.3,<0.14,>=0.11.1
  Downloading tokenizers-0.13.3-cp310-cp310-win_amd64.whl (3.5 MB)
     ---------------------------------------- 3.5/3.5 MB 2.6 MB/s eta 0:00:00
Requirement already satisfied: pyyaml>=5.1 in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from transformers) (6.0)
Requirement already satisfied: packaging>=20.0 in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from transformers) (21.3)
Requirement already satisfied: tqdm>=4.27 in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from transformers) (4.64.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (4.3.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from packaging>=20.0->transformers) (3.0.9)
Requirement already satisfied: colorama in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from tqdm>=4.27->transformers) (0.4.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from requests->transformers) (1.26.10)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from requests->transformers) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from requests->transformers) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in c:\users\deepshika\appdata\local\programs\python\python310\lib\site-packages (from requests->transformers) (3.3)
Installing collected packages: tokenizers, filelock, huggingface-hub, transformers
Successfully installed filelock-3.11.0 huggingface-hub-0.13.4 tokenizers-0.13.3 transformers-4.28.1

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [247]:
import transformers

C:\Users\Deepshika\AppData\Local\Programs\Python\Python310\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [248]:
import tensorflow as tf
from transformers import BertTokenizer, TFBertForSequenceClassification #always import tokenizer with model
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

 <div style="background-color: pink; ">
    <p style="font-size: 24px; font-weight: bold; color: red;">Preprocessing of the text data</p>
</div>

In [231]:
x['article'] = x['article'].astype(str)
x['article']=x['article'].str.lower()

### <font color='red'>removing punctuations</font>

In [233]:
text=[]
for i in x['article']:
    text.append(re.sub(r'[^\w\s]', '', i))

### <font color='red'>removing stopwords</font>

In [240]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

filter_text=[]
# Tokenize the text into words
for i in text:
    words = word_tokenize(i)

    # Remove the stopwords from the list of words
    filtered_words = [j for j in words if j.lower() not in stopwords.words('english')]

    # Join the filtered words back into a sentence
    filtered_sentence = ' '.join(filtered_words)
    filter_text.append(filtered_sentence)

len(filter_text)

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Deepshika\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

3682

In [261]:
x['preprocessed_text']=filter_text
x['Type']=x['Type'].replace("politics",0)
x['Type']=x['Type'].replace("Business",1)
x['Type']=x['Type'].replace("Sports",2)

 <div style="background-color: pink; ">
    <p style="font-size: 24px; font-weight: bold; color: red;">train_test_spliting </p>
</div>

In [262]:
X = x['preprocessed_text']
y = x['Type']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

<div style="background-color: pink; ">
    <p style="font-size: 24px; font-weight: bold; color: red;">Loading of pre-trained BERT model </p>
</div>

In [255]:
# Load the pre-trained BERT model
model_name = 'bert-base-uncased'
tokenizer = BertTokenizer.from_pretrained(model_name)
model = TFBertForSequenceClassification.from_pretrained(model_name, num_labels=3)

# Tokenize the data
X_train_tokens = tokenizer(X_train.tolist(), padding=True, truncation=True, max_length=128, return_tensors='tf')
X_test_tokens = tokenizer(X_test.tolist(), padding=True, truncation=True, max_length=128, return_tensors='tf')

Downloading (…)solve/main/vocab.txt: 100%|██████████████████████████████████████████| 232k/232k [00:00<00:00, 10.1MB/s]
C:\Users\Deepshika\AppData\Local\Programs\Python\Python310\lib\site-packages\huggingface_hub\file_download.py:133: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Deepshika\.cache\huggingface\hub. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)
Downloading (…)okenizer_config.json: 100%|██████████████████████████████████████████| 28.0/28.0 [00:00<00:00, 4.00kB/s]
Downloading (…)lve/main/config.json: 100%|████████████████████████████████████████████| 570/570 [00:00<00:00, 81.0kB/s]
Downloading tf_model.h5: 100%|██████████████████████████████████████████████████████| 536M/536M [02:04<00:00, 4.29MB/s]
All model checkpoint layers were used when initializing TFBertForSequenceClassification.

Some layers of TFBertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

<div style="background-color: pink; ">
    <p style="font-size: 24px; font-weight: bold; color: red;">Model training </p>
</div>

In [1]:
# Define the model
optimizer = tf.keras.optimizers.Adam(learning_rate=2e-5)
loss = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)
metric = tf.keras.metrics.SparseCategoricalAccuracy('accuracy')
model.compile(optimizer=optimizer, loss=loss, metrics=[metric])

# Train the model
history = model.fit(X_train_tokens['input_ids'])

NameError: name 'tf' is not defined

<div style="background-color: pink; ">
    <p style="font-size: 24px; font-weight: bold; color: red;">Evaluation of model </p>
</div>

In [ ]:
# Evaluate the model
y_pred = model.predict(X_test_tokens['input_ids'])
y_pred = tf.argmax(y_pred.logits, axis=1)
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average='weighted')
recall = recall_score(y_test, y_pred, average='weighted')
f1 = f1_score(y_test, y_pred, average='weighted')
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)